{{extend './layout.html'}}

{{block 'title'}}Book{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/less/admin.css">

{{/block}}

{{block 'content'}}
    <h1>add book page</h1>
    <div>
        <form action="/add" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="name" name="name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">author</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="author" name='author'>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">category</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="category" name="category">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">description</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="description" name="description">
              </div>
              <button type="submit" class="btn btn-default">submit</button>
        </form>
    </div>
{{/block}}

{{block 'scripts'}}
  
{{/block}}