<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- booststrap css -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
     <!-- 自己样式 -->
     <link rel="stylesheet" href="/less/index.css">
     <!-- 提示框样式 -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <title>library example</title>
</head>
<body>
    <div class="wrapper">
        <h1>library admin system renders in front-end</h1>
    <a class="btn btn-default" id="add" href="javascript:;">add a new book</a>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Bookname</th>
                        <th>author</th>
                        <th>category</th>
                        <th>description</th>
                        <th>option</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">add a new book popup</h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="txt_departmentname">bookname</label>
                            <input type="text" name="name" class="form-control" id="txt_departmentname"
                                placeholder="bookname">
                        </div>
                        <div class="form-group">
                            <label for="txt_parentdepartment">author</label>
                            <input type="text" name="author" class="form-control" id="txt_parentdepartment"
                                placeholder="author">
                        </div>
                        <div class="form-group">
                            <label for="txt_departmentlevel">category</label>
                            <input type="text" name="category" class="form-control" id="txt_departmentlevel"
                                placeholder="category">
                        </div>
                        <div class="form-group">
                            <label for="txt_statu">description</label>
                            <input type="text" name="description" class="form-control" id="txt_statu" placeholder="description">
                        </div>
                    </form>
                    
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary"><span
                            class="glyphicon glyphicon-floppy-disk"></span>submit</button>
                </div>

                <!-- == 模态框内容 ==================== -->
            </div>

    
   
     <!-- jquery ajax请求 -->
     <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
     <!-- 自己的 -->
     <script src="/scripts/ajax.js"></script>
     <!-- art-template 模板 -->
     <script src="https://cdn.bootcdn.net/ajax/libs/art-template/4.13.2/lib/template-web.min.js"></script>
     <!-- booststrap js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
     <!-- 模板 type='text/template' 让他失去js执行能力 接收后端传来的数据-->
    <script type="text/template" id="template">
        {{each data}}
        <tr>
            <td>{{$value.id}}</td>
            <td>{{$value.name}}</td>
            <td>{{$value.author}}</td>
            <td>{{$value.category}}</td>
            <td>{{$value.description}}</td>
            <td class="edit">
                <!-- edit and delete -->
                <a href="javascript:;">edit</a> |
                <a href="javascript:;">delete</a>
            </td>
        </tr>
        {{/each}}
    </script>
     <!-- 提示框 js -->  
     <!-- https://codeseven.github.io/toastr/ -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
     
</body>
</html>