<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./less/index.css">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <a href="/login?name=Terry&pass=1234">trial three kinds of getting value in koa</a>
    <br>
    <a href="/vip/1000">this is a sub-router</a>
    <br>
    <a href="/vip/1000/terry">this is a third router</a>
</body>
</html>