<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%=title%>
    <%=%>
    <ul>
        <li><a href="http://localhost:8080/web?Female Cloth">Female Cloth</a></li>
        <li><a href="http://localhost:8080/web?Male Cloth">Male Cloth</a></li>
        <li><a href="http://localhost:8080/web?Children Cloth">Children Cloth</a></li>
        <li><a href="http://localhost:8080/web?Sports Cloth">Sports Cloth</a></li>
    </ul>
</body>
</html>