* {
  margin: 0;
  padding: 0;
}
.login_wrap {
  border: 1px solid;
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.login_wrap div {
  margin-top: 0px;
}
.login_wrap input {
  margin-top: 20px;
}
.hide {
  opacity: 0;
}
