<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./less/index.css">
    <!-- booststrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- hint css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <title>add book page</title>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <form id="form">
            <div class="form-group" v-for='data in data'>
                <label for="exampleInputEmail1">{{data}}</label>
                <input type="text" class="form-control" id="exampleInputEmail1" :placeholder="data" :name="data">
            </div>
        </form>
        <a href="/admin.html">
            <button type="submit" class="btn btn-default" @click="submit">
                submit
            </button>
        </a>
    </div>
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- ajax -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- booststrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        Vue.prototype.$ = $;
        new Vue({
            el: '#app',
            data() {
                return {
                    title: 'add a book page',
                    data: ['name', 'author', 'category', 'description'],
                }
            },
            methods: {
                submit() {
                    $.ajax({
                        url: '/api/books/book',
                        type: 'POST',
                        data: $('#form').serialize(),
                        dataType: 'json',
                        success(msg) {
                            console.log('add book msg ====>>>>', msg);
                            if (msg.code == 0) {
                                console.log('submit successfully！');
                            } else {
                                console.log('submit failly！')
                            }
                        },
                        error(err) {
                            console.log('err ====>>>>', err);
                            toastr.error('submit failly')
                        }

                    })
                }
            }
        })
    </script>
</body>

</html>